<div *ngIf="!hasSelectedPerson else showSelectedPerson">
  <p>Who are you?</p>

  <ul class="people">
    <li
      *ngFor="let person of filteredPeople$ | async"
      class="person"
      (click)="selectPerson(person)"
    >
      <span class="name">{{ person.name }}</span>
    </li>
  </ul>

  <input type="text" [(ngModel)]="searchString" (keyup)="filter()" placeholder="Search / Filter" />
  <span *ngIf="searchString.length > 0"><a href="#" (click)="resetFilter($event)">reset</a></span>
</div>

<ng-template #showSelectedPerson>
  <p>You are now <strong>{{ selectedPerson?.name }}</strong>.</p>
  <p>Not {{ selectedPerson?.name }}? <a href="#" (click)="resetSelectedPerson($event)">Go be somebody else</a></p>
</ng-template>
