<div>
  <p-table
    #dt
    [value]="people"
    [paginator]="true"
    [rows]="10"
    [globalFilterFields]="['name']"
    styleClass="p-datatable-sm"
    selectionMode="single"
    dataKey="name"
    [(selection)]="selectedPerson"
    (onRowSelect)="selectPerson($event)"
    (onRowUnselect)="selectPerson()"
  >
  <ng-template pTemplate="caption">
      <div class="flex">
        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt)"></button>
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="filter($event)" (keyup)="reset($event)" placeholder="Search keyword" />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>Avatar</th>
        <th>Name</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-person>
      <tr [pSelectableRow]="person">
        <td>
          <app-avatar [person]="person"></app-avatar>
        </td>
        <td>
          {{ person.name }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
