<div class="mb-3 align-items-center justify-content-center h-15rem w-10rem">
  <p-skeleton *ngIf="loading" width="100%" height="6rem"></p-skeleton>
  <img *ngIf="!loading" [src]="image" [alt]="product.name"/>
</div>
<h4 class="name">{{ product.name }}</h4>
<h6 class="price">{{ product.price | currency }}</h6>
<div class="actions">
  <button
    pButton
    type="button"
    label="Add to cart"
    class="p-button-outlined"
    icon="pi pi-shopping-cart"
    iconPos="left"
    (click)="addToCart()"
  >
  </button>
</div>
