<p *ngIf="loading">Loading...</p>

<div class="grid">
  <div class="col-12 lg:col-6">

    <div class="card">
      <h2>Available items</h2>

      <p-dataView #dv [value]="(product$ | async)!" filterBy="name" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
        <ng-template pTemplate="header">
          <div class="grid flex-nowrap">
            <div class="col-4">
              <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By"
                (onChange)="onSortChange($event)" [style]="{'min-width':'10em'}"></p-dropdown>
            </div>
            <div class="col-4">
              <input type="search" pInputText placeholder="Search by name" (keyup)="resetOnEsc($event)" (input)="applyFilterGlobal($event, 'contains')" />
            </div>
          </div>
        </ng-template>

        <ng-template let-product pTemplate="gridItem">
          <div class="col-12 md:col-4">
            <div class="product-item">
              <app-item [product]="product" (add)="onAdd($event)"></app-item>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </div>

  <div class="col-12 lg:col-6">
    <div class="card">
      <app-cart></app-cart>
    </div>

    <div class="card">
      <h2>Person</h2>
      <app-person-picker></app-person-picker>
    </div>
  </div>
</div>
