<p-toast></p-toast>

<p *ngIf="items.length < 1">Your cart is empty</p>

<p-table *ngIf="items.length > 0" [value]="items" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{ item.product.name }}</td>
      <td>{{ item.qty }}</td>
      <td>{{ item.product.price | currency }}</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="footer">
    <tr>
      <td colspan="2" class="total-label">Total:</td>
      <td class="total-value">
        <p> {{ total | currency }}</p>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary">
    <div class="grid">
      <div class="col-6">
        <button
          pButton
          type="button"
          label="Clear cart"
          class="p-button-secondary p-button-outlined"
          (click)="clearCart()"
        ></button>
      </div>
      <div class="col-6" style="text-align: right;">
        <button
          pButton
          [pTooltip]="tooltipText"
          tooltipPosition="top"
          type="button"
          label="Buy now"
          icon="pi pi-check"
          iconPos="left"
          [disabled]="!canCheckout"
          (click)="checkout()"
        ></button>
      </div>
    </div>
  </ng-template>
</p-table>
